#!/usr/bin/make -f
export DH_VERBOSE=1

PKG_DIR = debian/nemo-gtkhash
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dgcrypt=true -Dbuild-gtkhash=false -Dbuild-nemo=true

override_dh_installchangelogs:
	dh_installchangelogs NEWS
